* {
  margin: 0%;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(8, 7, 7);
  position: relative;
}

.circleToKill {
  background-color: white;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 0, 43);
}