* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html, body , #root, .jeu{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(8, 7, 7);
  color: white;
}

.jeu {
  position: relative;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.location {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
}

.start-button, .share-button {
  z-index: 1;
  margin: 4px;
}

.cpt_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.circleToKill {
  background-color: white;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 0, 43);
}